/* This file includes only the visual styling -- fonts, colors, etc.*/

body
	{
	background: #333;
	color: #fff;
	font-family: georgia, times, times new roman;
	font-size: 20px;
	}
	
p
	{
	font-size: 1em;
	line-height: 1.4em;
	}
	
h3
	{
	font-size: 1.2 em;
	line-height: 1.68 em;
	}
	
h2
	{
	font-size: 1.44 em;
	line-height: 2.02 em;
	}
	
h1
	{
	font-size: 1.68 em;
	line-height: 2.42 em;
	margin-top: 0px;
	padding-top: 0px;
	}	

h1, h2, h3, h4
	{
	color: #cefff3;
	}
	 
a:link
	{
	color: #fefc93;
	}
	
a:visited
	{
	color: #fffec8;
	}
	
a:hover
	{
	color: #fffb32;
	}
	

.via
	{
	font-style: italic;
	}
	
img
	{
	border: none;
	}