<MTEntries>
	
	<h3><a name="<$MTEntryID pad="1"$>"></a><a href="<$MTEntryBody convert_breaks="0" $>"><$MTEntryTitle$></a></h3>
	<MTTextile><$MTEntryMore convert_breaks="1" $></MTTextile>
	<MTEntryIfExcerpt><p class="via">Via <a href="<$MTEntryKeywords$>"><$MTEntryExcerpt$></a></p></MTEntryIfExcerpt>
	<p class="date"><a href="http://juniorbird.com/archive/<$MTEntryDate format="%Y_%m"$>.php"><$MTEntryDate format="%b %e, %Y"$></a> in <MTEntryCategories><a href="http://juniorbird.com/archive/cat_<$MTCategoryLabel dirify="1"$>.php"><$MTEntryCategory$></a></MTEntryCategories></p>

</MTEntries>