					<h3><a name="<$mt:EntryID pad="1"$>"></a><a href="<$mt:EntryBody convert_breaks="0" $>"><$mt:EntryTitle$></a></h3>
					<mt:Textile><$mt:EntryMore convert_breaks="0"$></mt:Textile>
					<mt:EntryIfExcerpt><p class="via">Via <a href="<$mt:EntryKeywords$>"><$mt:EntryExcerpt$></a></p></mt:EntryIfExcerpt>
					<p class="date"><a href="<$mt:EntryPermalink$>"><$mt:EntryDate format="%b %e, %Y"$></a> in <mt:EntryCategories glue=", "><a href="<$mt:CategoryArchiveLink$>"><$mt:CategoryLabel></a></mt:EntryCategories><mt:IfCommentsActive> | <a href="/blog/archive/<$MTEntryID pad="1"$>_comments.html#comments" onclick="popcomment(this.href);return false;">Comment<mt:If tag="EntryCommentCount" gt "0"> (<mt:EntryCommentCount>)</mt:if></a></mt:IfCommentsActive></p>
