				<h3><$mt:EntryTitle$></h3>
				<p class="date"><$mt:EntryDate format="%b %e, %Y"$> in <mt:EntryCategories glue=", "><a href="<$mt:CategoryArchiveLink$>"><$mt:CategoryLabel$></a></mt:EntryCategories></p>