<div id="feeds">

	<div id="wa">
		<h3>New at Wadearmstrong.com</h3>
		<$MTFeedInclude uri="http://wadearmstrong.com/index.xml" lastn="2"$>
	</div>
	
	<div id="cb">
		<h3>New at Cleverbird.com</h3>
		<$MTFeedInclude uri="http://cleverbird.com/wiki/pmwiki.php/Site/AllRecentChanges?action=rss" lastn="3"$>
	</div>
	
	<div class="formozilla"></div>
	
</div>