<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

	<head>
		<meta http-equiv="content-type" content="text/html;charset=iso-8859-1" />
		<meta name="generator" content="Adobe GoLive" />
		<title>Juniorbird.com &mdash; Search Results"</title>
		
		<link rel="shortcut icon" href="/favicon.ico" />
		
		<style type="text/css">
			@import '/css/category.css';
		</style>
	</head>
	
	<body>

	<div id="main">
	
		<div id="banner">
				
			<div id="where">
				<h1>Search Results</h1>
			</div>
			
			<div id="home">

				<a href="/"><img src="/images/junior.gif" alt="juniorbird.com"/></a>
				
			</div>
			
			<div class="formozilla"></div>
			
		</div>
		<div id="content">
			
			<div id="words">
			
				<MTSearchResults>
				
				<MTSwitch value="[MTBlogID]">
				  <MTSwCase value="1">
				    <h2><$MTEntryTitle$></h2>
		   			<p class="date"><a href="<$MTEntryPermalink$>"><$MTEntryDate format="%b %e, %Y"$></a> in <MTEntryCategories glue=", "><a href="<$MTCategoryArchiveLink$>"><$MTCategoryLabel$></a></MTEntryCategories></p>
		 			<MTEntryIfExtended>
		
						  <MTTextile><$MTEntryBody$> <a href="<$MTEntryLink$>">Read on...</a><MTEntryIfComments> (<a href="<$MTEntryLink$>#comments">plus <MTEntryCommentCount> Comments</a>)</MTEntryIfComments></MTTextile>
						
							<MTElse>
						  
						    <MTEntryIfExcerpt>
						    
						    <MTTextile><$MTEntryExcerpt$> <a href="<$MTEntryLink$>">Read on...</a><MTEntryIfComments> (<a href="<$MTEntryLink$>#comments">plus <MTEntryCommentCount> Comments</a>)</MTEntryIfComments></MTTextile>
						    
						    <MTElse>
						    	
						  		<MTTextile><$MTEntryBody TrimWordsbyLen="+550"$> <a href="<$MTEntryLink$>">Read on...</a><MTEntryIfComments> (<a href="<$MTEntryLink$>#comments">plus <MTEntryCommentCount> Comments</a>)</MTEntryIfComments></MTTextile> 
												
						    </MTElse>
						    
						    </MTEntryIfExcerpt>
						  
						 	</MTElse>
						
						</MTEntryIfExtended>
				  </MTSwCase>
				  <MTSwCase value="2">
				    <h2><a name="<$MTEntryID pad="1"$>"></a><a href="<$MTEntryBody convert_breaks="0" $>"><$MTEntryTitle$></a></h2>
					<MTTextile><$MTEntryMore$></MTTextile>
					<MTEntryIfExcerpt><p class="via">Via <a href="<$MTEntryKeywords$>"><$MTEntryExcerpt$></a></p></MTEntryIfExcerpt>
					<p class="date"><a href="<$MTEntryLink archive_type="Monthly"$>#<$MTEntryID pad="1"$>"><$MTEntryDate format="%b %e, %Y"$></a> in <MTEntryCategories><a href="<$MTCategoryArchiveLink$>"><$MTEntryCategory$></a></MTEntryCategories><MTIfCommentsActive><MTEntryIfCommentsOpen> | <a href="/blog/archive/<$MTEntryID pad="1"$>_comments.html" onclick="popcomment(this.href);return false;">Comment<MTEntryIfComments> (<MTEntryCommentCount>)</MTEntryIfComments></a></MTEntryIfCommentsOpen></MTIfCommentsActive></p>
				  </MTSwCase>
				  <MTSwDefault>
				    <h2><a href="<$MTEntryPermalink$>"><$MTEntryTitle$></a></h2>
				  </MTSwDefault>
				</MTSwitch>

				</MTSearchResults>
				
				<MTNoSearchResults>
				<h2><MT_TRANS phrase="Searched for"> "<$MTSearchString$>"</h2>
				
				<p><MT_TRANS phrase="No pages were found containing"> "<$MTSearchString$>".</p>
				</MTNoSearchResults>
				
				
				<h2>Search Again</h2>
				<form method="get" action="/mt/mt-search.cgi" id="searchform">
					<input type="hidden" name="IncludeBlogs" value="2,1" />
					<input id="search" name="search" size="27" />
					<input type="submit" value="Go" />
				</form>
				    				
			</div>
			
			<div id="navbar">
				<p>&nbsp;</p>
						
			</div>
			
			<div id="formozilla"></div>
		</div>
		</div>

</body>

</html>