<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

	<head>
		<meta http-equiv="content-type" content="text/html;charset=iso-8859-1" />
		<meta name="generator" content="Adobe GoLive" />
		<title>Juniorbird.com &mdash; Archives</title>
		
		<link rel="shortcut icon" href="/favicon.ico" /> 
		
		<style type="text/css">
			@import "/css/archives.css";
		</style>
	</head>
	
	<body>

	<div id="main">
	
		<div id="banner">
				
			<div id="where">
				<h1>Browse Archives</h1>
			</div>
			
			<div id="home">

				<a href="/"><img src="/images/junior.gif" alt="juniorbird.com"/></a>
				
			</div>
			
			<div class="formozilla"></div>
			
		</div>
		
		<div id="content">
		
			<div id="specialfeatures">
  				
  				<h2>Featuring</h2>
  				
				<?php include "special/index.html" ?>
  
  			</div>
			
			<div id="diary">
			
				<h2>Diary Archive</h2>
				
				<h3>By Category:</h3>
				<ul>
					<MTTopLevelCategories>
					<li><a href="<$MTCategoryArchiveLink$>"><$MTCategoryLabel$></a></li>
					</MTTopLevelCategories>
				</ul>
				
				<h3>By Date:</h3>
				<ul>
					<MTArchiveList archive_type="Monthly">
					<li><a href="<$MTArchiveLink$>"><$MTArchiveTitle$></a></li>
					</MTArchiveList>
				</ul>
			
			</div>
			
			<div id="blog">
			
				<h2>Blog Archive</h2>
				
				<?php include "blog/archives.html"?>
			
			</div>
			
			<div id="formozilla"></div>
		</div>
		
		<div id="footer">
			
			<h2>Search This Site</h2>
			<form method="get" action="<$MTCGIPath$><$MTSearchScript$>" id="searchform">
				<input id="search" name="search" size="27" />
				<input type="submit" value="Go" />
				<input type="hidden" name="IncludeBlogs" value="2" />
				<input type="hidden" name="IncludeBlogs" value="1" />
			</form>
		</div>
		
	</div>

</body>

</html>