				<h3>By Category:</h3>
				<ul>
					<mt:TopLevelCategories>
					<li><a href="<$mt:CategoryArchiveLink$>"><$mt:CategoryLabel$></a></li>
					</mt:TopLevelCategories>
				</ul>
				
				<h3>By Date:</h3>
				<ul>
					<mt:ArchiveList archive_type="Monthly">
					<li><a href="<$mtArchiveLink$>"><$mt:ArchiveTitle$></a></li>
					</mt:ArchiveList>
				</ul>