<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">

	<head>
		
		<title>Juniorbird.com &mdash; <$MTArchiveCategory$> Archives</title>
		
		<link rel="shortcut icon" href="/favicon.ico" />
		
		<$mt:Include module="HTML Head"$>
		
		<style type="text/css">
			@import '/css/blogarchive.css';
		</style>
	</head>
	
	<body>

	<div id="main">
	
		<div id="banner">
				
			<div id="where">
				<h1>Archive: <$mt:ArchiveCategory$></h1>
			</div>
			
			<div id="home">

				<a href="/"><img src="/images/junior.gif" alt="juniorbird.com"/></a>
				
			</div>
			
			<div class="formozilla"></div>
			
		</div>
		<div id="content">
			
			<div id="words">
			
				<MTEntries>
					
					<$mt:Include module="Entry Template"$>
					
				</MTEntries>
				    				
			</div>
			
			<div id="navbar">
				<p>&nbsp;</p>
			</div>
			
			<div id="formozilla"></div>
		</div>
		</div>

</body>

</html>