				<h2><$mt:EntryTitle$></h2>
				<p class="date"><$mt:EntryDate format="%b %e, %Y"$> in <mt:EntryCategories glue=", "><a href="<$mt:CategoryArchiveLink$>"><$MTCategoryLabel$></a></MTEntryCategories></p>